@model Web.Models.People
@{
   ViewData["Title"] = "CreateOrUpdate";
}
<h4 class="text-center">Pessoa: @(Model != null && Model?.Id > 0 ? "Alterações" : "Cadastro")</h4>
<hr />
<div class="row">
   <div class="col-md-12">
      <form asp-action="@(Model != null && Model?.Id > 0 ? "Edit":"Create")">
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         @if (Model != null && Model?.Id > 0)
         {
            <input type="hidden" asp-for="Id" />
         }
         <div class="row">
            <div class="col-md-8 mb-1">
               <div class="form-group mb-2">
                  <label asp-for="Name" class="control-label mb-1"></label>
                  <input asp-for="Name" class="form-control form-control-sm autofocus />
                  <span asp-validation-for="Name" class="text-danger"></span>
               </div>
            </div>
            <div class="col-md-2 mb-1">
               <div class="form-group mb-2">
                  <label asp-for="CreatedAt" class="control-label mb-1"></label>
                  <input asp-for="CreatedAt" type="text" class="form-control form-control-sm text-center" />
                  <span asp-validation-for="CreatedAt" class="text-danger"></span>
               </div>
            </div>
            <div class="col-md-2 mb-1">
               <div class="form-group mb-2">
                  <label asp-for="Salary" class="control-label mb-1"></label>
                  <input asp-for="Salary" type="text" class="form-control form-control-sm text-right" />
                  <span asp-validation-for="Salary" class="text-danger"></span>
               </div>
            </div>
            <div class="col-md-12 mb-1">
               <div class="form-group mb-2">
                  <label asp-for="Observation" class="control-label mb-1"></label>
                  <textarea asp-for="Observation" class="form-control form-control-sm"></textarea>
                  <span asp-validation-for="Observation" class="text-danger"></span>
               </div>
            </div>
            <div class="col-md-12 mb-1">
               <div class="form-group form-check mb-2">
                  <label class="form-check-label">
                     <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                  </label>
               </div>
            </div>
            <div class="col-md-12 mb-1">
               <div class="form-group mt-2 mb-2">
                  <button type="submit" class="btn btn-primary btn-sm">
                     <i class="bi bi-download"></i> @(Model != null && Model?.Id > 0 ? "Salvar" : "Inserir")
                  </button>
                  <a asp-action="Index" class="btn btn-secondary btn-sm"><i class="bi bi-backspace"></i> Voltar a lista</a>
               </div>
            </div>
         </div>         
      </form>
   </div>
</div>
@section Scripts {
   @{
      await Html.RenderPartialAsync("_ValidationScriptsPartial");
   }
   <script>
      $(document).ready(function () {
         $("#CreatedAt").inputmask("99/99/9999");
         $("#Salary").maskMoney({ thousands: '.', decimal: ',', allowZero: true, showSymbol: false, symbol: '' }).maskMoney('mask');
      });
   </script>
}
